body {
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color: #555555;
    color: #bfbfbf;
}

table, th, td {
    margin: auto;
    border: 1px solid black;
}

a {
    color: #bfbfbf;
}

p#footer {
    right: 10px;
    bottom: 5px;
    position: fixed;
}